*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}
.Logo{
    width: 150px;
    cursor: pointer;
}
.Hero{
    width: 100%;
    height: auto;
    background-image:url(images/body1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.nav1{
    background-color: rgb(255, 255, 255);
    background-image: url(images/forest1.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-left: 1%;
    padding-right: 1%;
}
.nav1 ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 20px 10px;
    border-radius: 30px;
    height: 30px;
    background:#c8bc80;
    align-items: center;
}
.nav1 ul li a{
    color: #50764d;
    text-decoration: none;
    font-weight: bold;
	font-size: large;
}
.nav1 ul li a:hover{
    color: rgb(0, 0, 0);
    transition: 2s;
}
.nav2{
    width: 100%;
    display: flex;
    background:#c8bc80;
    height: 110px;
    padding-top: 1px;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    z-index: 1;
}
.nav2 ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 0px;
    padding: 13px;
    z-index: 1;
}
.nav2 ul li a{
    color: #50764d;
    text-decoration: none;
    font-weight: bold;
	  font-size: medium;
    z-index: 1;
}
.nav2 ul li:hover{
    background: rgb(39, 255, 1);
    transition: 1s;
    z-index: 1;
}
.nav2.fixed {
    top: 0;
    position: fixed;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .nav2.fixed ul li a {
    font-size: medium;
    z-index: 1;
  }
  .sub-menu-weapons{
    display: none;
  }
  .nav2 ul li:hover .sub-menu-weapons{
    display: block;
    position: absolute;
    background:rgba(0,0,0,0.5) url(images/sniper.png);
    background-size: cover;
    background-blend-mode: darken;
    width: 300px;
    margin-top: 85px;
    margin-left: -13px;
    z-index: 1;
  }
  .nav2 ul li:hover .sub-menu-weapons ul li{
    display: flex;
  }
  .nav2 ul li:hover .sub-menu-weapons ul li a{
    background-color: #c8bc80;
  }
  .sub-menu-knifes{
    display: none;
  }
  .hover-me:hover .sub-menu-knifes{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -12px;
    margin-left: 280px;
  }
  .sub-menu-pistols{
    display: none;
  }
  .hover-me-pistols:hover .sub-menu-pistols{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -13px;
    margin-left: 280px;
  }
  .sub-menu-hunting-weapons{
    display: none;
  }
  .hover-me-hunting-weapons:hover .sub-menu-hunting-weapons{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -13px;
    margin-left: 280px;
  }
  .sub-menu-sport-weapons{
    display: none;
  }
  .hover-me-sport-weapons:hover .sub-menu-sport-weapons{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -13px;
    margin-left: 280px;
  }
  .sub-menu-gas-weapons{
    display: none;
  }
  .hover-me-gas-weapons:hover .sub-menu-gas-weapons{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -13px;
    margin-left: 280px;
  }
  .sub-menu-air-weapons{
    display: none;
  }
  .hover-me-air-weapons:hover .sub-menu-air-weapons{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -13px;
    margin-left: 280px;
  }
  .sub-menu-primitive-weapons{
    display: none;
  }
    .hover-me-primitive-weapons:hover .sub-menu-primitive-weapons{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -13px;
    margin-left: 280px;
  }
  .sub-menu-accessories1{
    display: none;
   }
 .hover-me1:hover .sub-menu-accessories1{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -280px;
    margin-left: 280px;
 }
  .sub-menu-clothes{
    display: none;
  }
  .nav2 ul li:hover .sub-menu-clothes{
    display: block;
    position: absolute;
    background:rgba(0,0,0,0.5) url(images/hunter2.png);
    background-size: cover;
    background-blend-mode: darken;
    width: 300px;
    margin-top: 85px;
    margin-left: -13px;
    z-index: 1;
  }
  .nav2 ul li:hover .sub-menu-clothes ul li{
    text-align: left;
    display: flex;
  }
  .nav2 ul li:hover .sub-menu-clothes ul li a{
    background-color: #c8bc80;
  }
    .sub-menu-accessories2{
    display: none;
   }
 .hover-me2:hover .sub-menu-accessories2{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -279px;
    margin-left: 280px;
 }
 .sub-menu-camping{
    display: none;
 }
 .nav2 ul li:hover .sub-menu-camping{
  display: block;
  position: absolute;
  background:rgba(0,0,0,0.5) url(images/HuntingCamp.jpg);
  background-size: cover;
  background-blend-mode: darken;
  width: 400px;
  margin-top: 85px;
  margin-left: -13px;
  z-index: 1;
  }
  .nav2 ul li:hover .sub-menu-camping ul li{
    text-align: left;
    display: flex;
  }
  .nav2 ul li:hover .sub-menu-camping ul li a{
    background-color: #c8bc80;
  }
  .sub-menu-campingequipment{
    display: none;
  }
 .hover-me3:hover .sub-menu-campingequipment{
    display: block;
    position: absolute;
    background: rgb(205, 203, 147);
    background-size: 600px;
    background-position: right;
    width: 300px;
    margin-top: -279px;
    margin-left: 320px;
 }
 .sub-menu-self-defence{
    display: none;
 }
 .nav2 ul li:hover .sub-menu-self-defence{
  display: block;
  position: absolute;
  background:rgba(0,0,0,0.5) url(images/selfDefence.jpg);
  background-size: cover;
  background-blend-mode: darken;
  width: 400px;
  margin-top: 85px;
  margin-left: -13px;
  z-index: 1;
  }
  .nav2 ul li:hover .sub-menu-self-defence ul li{
    text-align: left;
    display: flex;
  }
  .nav2 ul li:hover .sub-menu-self-defence ul li a{
    background-color: #c8bc80;
  }
.search{
	height: 30px;
	display: flex;
	cursor: pointer;
	padding: 20px 30px;
	background: #50764d;
	border-radius: 30px;
	align-items: center;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.search input{
    width: 700px;
    outline: none;
    border: none;
    font-size: large;
    font-weight: 1000;
    background: transparent;
}
section h2{
    font-size: 30px;
    color: white;
}
section h1{
  font-size: 40px;
  color: white;
}
section h3{
  font-size: 20px;
  color: white;
}
section iframe{
    height: 300px;
    width: 400px;
}
section a{
  font-size: 30px;
  color: #09ff00;
}
.footer{
  background: #50764d;
  padding: 70px 0;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.containing{
  max-width: 1770px;
  margin: auto;
}
.footer ul{
  list-style: none;
}
.footer-col{
  width: 20%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 24px;
  color: #c8bc80;
  text-transform: capitalize;
  margin-bottom: 30px;
  background-color:#000;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: whitesmoke;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 35px;
  width: 35px;
  font-size: larger;
  background-color: #c8bc80;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: black;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: white;
  background-color: black;
}
::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
}
::-webkit-input-placeholder{
    opacity:0.5;
}
.search a .fa-solid{
	color: rgb(0, 0, 0);
	font-size: 18px;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: #c8bc80;
}
::-webkit-scrollbar-thumb{
    background:#50764d;
}
.campfire{
    margin-left: 50px;
}
.taser{
    margin-left: 20px;
}
.promotion{
    margin-left: 8px;
}
.target{
    margin-left: 30px;
}
.trade{
    margin-left: 35px;
}